.accordion__content {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.accordion__content.active {
  max-height: 9999px;
}
