h1.buy-title {
  font-size: 5.8rem;

  margin-bottom: 6rem;

  @include breakpoint($xl-bp) {
    font-size: 5rem;
  }
  @include breakpoint($sm-bp) {
    font-size: 3rem;
  }
}

.buy__inner {
  position: relative;

  display: flex;
  align-items: flex-start;
  gap: 4rem;

  @include breakpoint($xl-bp) {
    gap: 2rem;
  }
  @include breakpoint($lg-bp) {
    flex-wrap: wrap;
  }

  @include breakpoint($sm-bp) {
    gap: 6rem;
  }
}
.buy-img {
  width: 100%;
  max-width: 41rem;

  @include breakpoint($lg-bp) {
    width: 51%;
  }

  @include breakpoint($sm-bp) {
    order: 5;

    width: 100%;
  }
}
.buy-item {
  position: relative;

  width: 41rem;

  padding: 4rem;
  margin-top: 4.3rem;

  border: 0.2rem solid #e5dfe0;
  border-radius: 2rem;

  @include breakpoint($lg-bp) {
    width: 46%;
  }

  @include breakpoint($sm-bp) {
    width: 100%;

    padding: 2rem;
    margin-top: 0;
  }
}
.buy-item__title {
  position: absolute;
  left: 2rem;
  top: -4rem;

  font-family: "Nunito";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 120%;
  color: #c4161d;

  padding: 1rem 2rem;

  background: white;

  @include breakpoint($xl-bp) {
    left: 1rem;
    top: -3rem;

    font-size: 2rem;
  }
}
.buy-item__list {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;

  li {
    position: relative;

    font-size: 1.8rem;
    line-height: 1.5;

    padding-left: 2.8rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      width: 0.8rem;
      height: 0.8rem;

      background: $primary;
      border-radius: 50%;
    }

    a {
      &:hover {
        color: $primary;
      }
    }
  }

  & + p {
    margin-top: 1.2rem;
  }
}
.buy-descr {
  position: absolute;
  right: 0%;
  bottom: 0%;

  max-width: 86rem;

  font-size: 1.6rem;

  @include breakpoint($xl-bp) {
    right: 3%;

    max-width: 55rem;
  }
  @include breakpoint($lg-bp) {
    position: static;
  }

  p + p {
    margin-top: 2rem;
  }

  a {
    color: $primary;

    &:hover {
      text-decoration: underline;
    }
  }
}
