.catalog-filters {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-bottom: 4rem;

  @include breakpoint($lg-bp) {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;

    align-items: flex-end;

    width: 100%;
    height: 100vh;

    background: rgba(76, 59, 60, 0.4);

    transform: translateX(100%);

    &.active {
      transform: translateX(0%);

      .catalog-filters__inner {
        transform: translateX(0%);
      }
    }
  }

  .read-more-btn {
    @include breakpoint($lg-bp) {
      display: block;

      font-size: 1.4rem;
      font-weight: 400;

      border: none;

      text-transform: none;

      & ~ * {
        display: none;
      }
    }

    &.active {
      display: none;

      & ~ * {
        display: flex;
      }
    }
  }
}

.catalog-filters__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;

  @include breakpoint($lg-bp) {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;

    width: 26rem;
    min-height: 100vh;
    overflow: auto;

    padding: 1.6rem;

    background: white;

    transition: all 0.2s linear;
    transform: translateX(100%);
  }
}

.catalog-filter {
  position: relative;

  width: max-content;
  min-width: 26rem;

  border: 0.1rem solid #beb0b0;
  border-radius: 1rem;

  cursor: pointer;

  @include breakpoint($lg-bp) {
    max-height: unset;
    min-width: unset;
    width: 100%;

    border-color: #e5dfe0;
  }

  &.active {
    .cf__heading svg {
      transform: rotate(180deg);
    }
    .cf__content {
      display: flex;
    }
  }
}

.cf__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.3rem 1.6rem;

  @include breakpoint($lg-bp) {
    padding-bottom: 0;
  }

  svg {
    width: 1.2rem;
    height: 1.2rem;
    stroke: $black;
    fill: none;

    @include breakpoint($lg-bp) {
      display: none;
    }
  }
}

.cf__heading-name {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  font-size: 1.6rem;
  line-height: 1.5;

  @include breakpoint($lg-bp) {
    margin-bottom: 1rem;

    font-weight: 700;
  }

  .count {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.8rem;
    height: 1.8rem;

    font-family: "Nunito";
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    color: #ffffff;

    background: $primary;
    border-radius: 100%;
  }
}

.cf__content {
  position: absolute;
  left: 0;
  top: 6rem;
  z-index: 3;

  display: none;
  flex-direction: column;
  gap: 0.8rem;

  width: 100%;

  padding: 1.6rem;

  background: #ffffff;
  box-shadow: 0 0 1.5rem rgba(76, 59, 60, 0.15);
  border-radius: 1rem;

  @include breakpoint($lg-bp) {
    display: flex;

    position: static;

    padding-top: 0;

    box-shadow: none;
  }
}

.cf__content-cat {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  margin-top: 1.5rem;

  @include breakpoint($lg-bp) {
    margin-top: 0;
  }

  .content-cat__heading {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 150%;
    text-transform: uppercase;
    color: $primary;

    margin-bottom: 0.4rem;

    @include breakpoint($lg-bp) {
      display: none;
    }
  }
}

.catalog-filters__choosed {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.catalog-filter__chosen {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1.6rem;

  padding: 0.6rem 1.2rem;

  border: 0.1rem solid $black;
  border-radius: 1rem;

  svg {
    width: 1.2rem;
    height: 1.2rem;

    stroke: #998485;

    cursor: pointer;

    &:hover {
      stroke: $black;
    }
  }
}

.catalog-filters__header {
  display: none;
  align-items: center;
  justify-content: space-between;

  @include breakpoint($lg-bp) {
    display: flex;
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;

    stroke: #beb0b0;

    cursor: pointer;

    &:hover {
      stroke: $black;
    }
  }
}
.catalog-filters__header-title {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 120%;
  color: $black;
}

.catalog-filter__mob-btn {
  position: absolute;
  top: 5rem;
  right: 33rem;

  display: none;

  width: 5rem;
  height: 5rem;

  padding: 1rem;

  border: 0.1rem solid #beb0b0;
  border-radius: 1rem;
  background: none;

  @include breakpoint($sm-bp) {
    top: 3rem;

    right: 1.6rem;
  }

  svg {
    width: 3rem;
    height: 3rem;

    stroke: $black;
    fill: none;
  }

  @include breakpoint($lg-bp) {
    display: block;
  }
}
