.filled-btn {
  box-sizing: border-box;
  width: max-content;
  height: 5rem;

  display: flex;
  align-items: center;

  font-family: "Nunito";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 120%;
  text-transform: uppercase;
  color: white;

  padding: 1.4rem 3rem;

  background-color: $primary;
  border: 0.2rem solid $primary;
  border-radius: 1rem;

  transition: all 0.2s ease;

  &:hover {
    background: #9d1217;
    border-color: #9d1217;
  }

  &:active {
    background: #760d11;
    border-color: #760d11;
  }

  &[aria-disabled="true"],
  &:disabled {
    background-color: #dc7377;
    border-color: #dc7377;
  }
}
