.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  align-items: center;

  width: 100%;
  max-width: 192rem;
  height: 10rem;

  transition: all 0.2s linear;
  transform: translateY(0);

  background: white;
}

.header.out {
  transform: translateY(-100%);
  box-shadow: none;
}

.header__inner {
  display: flex;
  align-items: center;
  gap: 9.1rem;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.header__logo-img {
  width: 100%;
  max-width: 18.1rem;

  margin-bottom: 1rem;
}

.header__logo-descr {
  font-family: "Nunito";
  font-weight: 700;
  text-transform: uppercase;
}

.header-links__main {
  display: flex;
  align-items: center;

  @include breakpoint($xl-bp) {
    position: absolute;
  }
}

.header-links {
  display: flex;
  align-items: center;
  gap: 9rem;
}

.header-links_red {
  display: flex;
  align-items: center;

  font-family: "Nunito";
  font-weight: 700;
  line-height: 1.5;
  color: $primary;

  .catalog-link {
    color: $primary;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-bottom: 0.1rem solid $primary;

    margin-right: 6.6rem;
  }

  .buy-online {
    margin-right: 4.9rem;

    .dropdown-list {
      top: 3rem;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        width: 1.2rem;
        height: 1.2rem;
        stroke: $black;
        fill: none;
        transform: rotate(-45deg);
      }
    }
  }

  .dropdown-link {
    span {
      text-transform: uppercase;
      font-size: 1.4rem;
      border-bottom: 0.1rem solid $primary;
    }

    svg {
      stroke: $primary;
    }
  }

  .header__link {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
  }
}

.header__lang {
  .dropdown-list {
    top: 3rem;

    min-width: 5.2rem;
  }
}

.burger-menu {
  position: relative;
  z-index: 1001;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2.4rem;
  height: 1.8rem;
  cursor: pointer;

  &:hover {
    span {
      width: 100% !important;
    }
  }
}

.burger-menu span {
  height: 2px;
  background-color: $black;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.burger-menu span:first-child {
  width: 70%;
}

.burger-menu span:nth-child(2) {
  width: 100%;
}

.burger-menu span:last-child {
  width: 70%;
  align-self: flex-end;
}

.burger-menu.active span:first-child {
  width: 100%;
  transform: rotate(45deg);
  transform-origin: top left;
}

.burger-menu.active span:nth-child(2) {
  opacity: 0;
}

.burger-menu.active span:last-child {
  width: 100%;
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;

  width: 132rem;

  padding: 4rem;

  background: #ffffff;
  box-shadow: 0 1rem 1.5rem rgba(76, 59, 60, 0.15);

  transition: all 0.4s ease-out;
  transform: translateX(100%);

  &.active {
    transform: translateX(0);
  }
}

.menu__inner {
  display: flex;
  align-items: flex-start;
}

.menu-title {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 120%;
  color: $black;

  margin-bottom: 4rem;
}

.menu-candies {
  width: 100%;
  max-width: 75rem;

  display: flex;
  flex-wrap: wrap;
  gap: 8rem 0;

  margin-right: 10rem;
  padding: 4rem;

  background: $secondary;
  border-radius: 2rem;
}
.menu-cat__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8rem;

  flex-basis: 50%;

  &--center {
    justify-content: center;
  }
}
.menu-cat {
  display: flex;
  flex-direction: column;
}
.menu-cat__title {
  width: max-content;

  font-family: "Nunito";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 120%;
  text-transform: uppercase;
  color: $black;

  margin-bottom: 3rem;

  &:hover,
  &.active {
    color: $primary;
  }
}
.menu-cat__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.menu-cat__link {
  width: max-content;

  font-size: 1.6rem;

  &:hover,
  &.active {
    color: $primary;
  }
}
.menu-candies__links {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.menu-candies__link {
  width: max-content;

  font-family: "Nunito";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 120%;
  text-transform: uppercase;
  color: $black;

  &:hover,
  &.active {
    color: $primary;
  }
}

.menu-about {
  display: flex;
  flex-direction: column;
  gap: 8rem;

  padding-top: 4rem;
}
