.intro {
  position: relative;

  height: 86rem;

  background: #b58fe3;

  @include breakpoint($sm-bp) {
    height: 70rem;
  }

  .container {
    height: 100%;
  }
}

.intro-slider {
  position: relative;

  width: 100%;
  height: 100%;

  .swiper-pagination {
    position: absolute;
    right: 8rem;
    top: 6rem;
    z-index: 44;

    display: flex;
    align-items: center;
    gap: 1.6rem;

    @include breakpoint($sm-bp) {
      top: 2rem;
      right: 1.6rem;
    }

    .swiper-pagination-bullet {
      width: 1rem;
      height: 1rem;
      border: 0.1rem solid #ffffff;
      background: transparent;
      border-radius: 50%;
      cursor: pointer;

      &-active {
        background: #fff;
      }
    }
  }

  .swiper-slide-active.swiper-slide {
    z-index: 22;
  }
}

.intro-slider__first {
  position: relative;
}

.is-slide__content {
  position: absolute;
  left: 50%;
  top: 51%;
  z-index: 10;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 64rem;
  height: 64rem;

  @include breakpoint($xl-bp) {
    left: 59%;
  }
  @include breakpoint($lg-bp) {
    top: 62%;
    left: 50%;
  }
  @include breakpoint($sm-bp) {
    position: relative;
    top: unset;
    left: unset;
    transform: none;

    width: 34rem;
    height: 34rem;

    margin-bottom: 3rem;
  }

  .hollow-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);

    width: 64rem;
    height: 64rem;

    border: 0.2rem solid #ddccf2;
    border-radius: 50%;

    @include breakpoint($lg-bp) {
      width: 50rem;
      height: 50rem;
    }

    @include breakpoint($sm-bp) {
      width: 34rem;
      height: 34rem;

      left: 0;
      top: 0;
      transform: none;
    }
  }
  .filled-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

    width: 56rem;
    height: 56rem;
    background: #ddccf2;
    border-radius: 50%;

    @include breakpoint($lg-bp) {
      width: 43rem;
      height: 43rem;
    }

    @include breakpoint($sm-bp) {
      width: 30rem;
      height: 30rem;
    }
  }

  .is-slide__main-img {
    position: relative;
    z-index: 2;
    transform: rotate(-15deg);

    width: 100%;
    max-width: 43.7rem;

    @include breakpoint($lg-bp) {
      max-width: 33rem;
    }

    @include breakpoint($sm-bp) {
      width: 22rem;
    }
  }

  .anim-fruit {
    @include breakpoint($lg-bp) {
      display: none;
    }
  }
}

.is-almond__wrapper {
  position: absolute;

  top: -4%;
  left: 61%;

  width: 16rem;

  .is-almond {
    position: static;

    width: 100%;

    transition: all 2s linear;

    &.active {
      animation: almondAnim 20s linear infinite;
    }
  }
}

@keyframes almondAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-prunes__wrapper {
  position: absolute;

  transform: scaleX(-1) rotate(-63deg);
  top: 74%;
  left: 62%;

  width: 20rem;

  .is-prunes {
    position: static;

    width: 100%;

    transform: rotate(-17deg);

    &.active {
      animation: animateIntroFruits 6s linear 1s infinite alternate;
    }
  }
}

.is-cherry__wrapper {
  position: absolute;

  top: 59%;
  left: -7%;
  width: 19rem;

  .is-cherry {
    position: static;

    width: 100%;

    transform: rotate(-17deg);

    &.active {
      animation: animateIntroFruits 6s linear 0.5s infinite alternate;
    }
  }
}

@keyframes animateIntroFruits {
  0% {
    transform: translate(0, 0) rotate(-17deg);
  }
  25% {
    transform: translate(-1rem, -1rem) rotate(-13deg);
  }
  50% {
    transform: translate(-2rem, -2rem) rotate(-19deg);
  }
  75% {
    transform: translate(-3rem, -1rem) rotate(-13deg);
  }
  100% {
    transform: translate(0, 0) rotate(-17deg);
  }
}

.intro-title {
  max-width: 53rem;

  font-family: "Nunito";
  font-weight: 700;
  font-size: 8rem;
  line-height: 100%;
  color: #ffffff;

  margin-bottom: 4rem;
  padding-top: 6rem;

  @include breakpoint($lg-bp) {
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  @include breakpoint($sm-bp) {
    font-size: 3.7rem;

    padding-top: 4rem;
    margin-bottom: 3rem;
  }
}
.intro-subtitle {
  max-width: 47rem;

  font-size: 2.4rem;
  line-height: 120%;
  color: #ffffff;

  @include breakpoint($sm-bp) {
    font-size: 2rem;

    margin-bottom: 3rem;
  }
}

.intro-slider__first-buy {
  position: absolute;
  right: 6rem;
  bottom: 7%;

  @include breakpoint($xl-bp) {
    right: 1.6rem;
  }

  @include breakpoint($sm-bp) {
    position: static;
  }
}

.intro-slider__price-btn {
  display: none;

  position: absolute;

  right: 1.6rem;
  top: 84.6%;

  height: 4.6rem;

  font-family: "Nunito";
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;

  padding: 1.4rem 1.8rem;

  background: #c4161d;
  box-sizing: border-box;
  border-radius: 1rem;
  border: none;
  outline: none;
  cursor: pointer;

  transition: all 0.3s linear;

  @include breakpoint($sm-bp) {
    display: block;
  }
}

.left-line {
  position: absolute;
  left: 6rem;
  top: 53.5%;
  z-index: 3;

  width: 53rem;
  height: 0.2rem;

  background: #ddccf2;

  @include breakpoint($xl-bp) {
    left: 1.6rem;
  }

  @include breakpoint($lg-bp) {
    display: none;
  }
}

.right-line {
  position: absolute;
  right: 6rem;
  top: 80.3%;
  z-index: 3;

  width: 63.6rem;
  height: 0.2rem;

  background: #ddccf2;

  @include breakpoint($xl-bp) {
    right: 1.6rem;
  }

  @include breakpoint($lg-bp) {
    display: none;
  }
}
