.intro {
  height: 86rem;

  background: #b58fe3;

  .container {
    height: 100%;
  }
}

.intro-slider {
  position: relative;

  width: 100%;
  height: 100%;

  .swiper-pagination {
    position: absolute;
    right: 0;
    top: 6rem;
    z-index: 44;

    display: flex;
    align-items: center;
    gap: 1.6rem;

    .swiper-pagination-bullet {
      width: 1rem;
      height: 1rem;
      border: 0.1rem solid #ffffff;
      background: transparent;
      border-radius: 50%;
      cursor: pointer;

      &-active {
        background: #fff;
      }
    }
  }
}

.intro-slider__first {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 53.5%;
    z-index: 3;

    width: 53rem;
    height: 0.2rem;

    background: #ddccf2;
  }

  &::after {
    content: "";
    position: absolute;
    left: 64%;
    top: 80.3%;
    z-index: 3;

    width: 63.6rem;
    height: 0.2rem;

    background: #ddccf2;
  }
}

.is-slide__content {
  position: absolute;
  left: 50%;
  top: 51%;
  z-index: 10;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 64rem;
  height: 64rem;

  @include breakpoint($xl-bp) {
    left: 59%;
  }

  .hollow-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

    width: 64rem;
    height: 64rem;

    border: 0.2rem solid #ddccf2;
    border-radius: 50%;
  }
  .filled-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

    width: 56rem;
    height: 56rem;
    background: #ddccf2;
    border-radius: 50%;
  }

  .is-slide__main-img {
    position: relative;
    z-index: 2;
    transform: rotate(-15deg);

    width: 100%;
    max-width: 43.7rem;
  }

  .is-almond {
    transform: rotate(-17deg);
    top: -4%;
    left: 61%;
    width: 16rem;
  }
  .is-prunes {
    transform: scaleX(-1) rotate(-63deg);
    top: 74%;
    left: 62%;
    width: 20rem;
  }
  .is-cherry {
    top: 59%;
    left: -7%;
    width: 19rem;
  }
}

.intro-title {
  max-width: 53rem;

  font-family: "Nunito";
  font-weight: 700;
  font-size: 8rem;
  line-height: 100%;
  color: #ffffff;

  margin-bottom: 4rem;
  padding-top: 6rem;
}
.intro-subtitle {
  max-width: 47rem;

  font-size: 2.4rem;
  line-height: 120%;
  color: #ffffff;
}

.intro-slider__first-buy {
  position: absolute;
  right: 0;
  bottom: 7%;
}
