.page-tpl {
  padding-top: 8rem;

  padding-bottom: 22rem;

  .breadcrumb-wrapper {
    margin-bottom: 6rem;
  }

  h1 {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 8rem;
    line-height: 100%;
    color: $black;
  }
}
