.page-tpl {
  padding-top: 8rem;

  padding-bottom: 22rem;

  @include breakpoint($lg-bp) {
    padding-bottom: 12rem;
  }
  @include breakpoint($sm-bp) {
    padding-top: 4rem;
    padding-bottom: 8rem;
  }

  .breadcrumb-wrapper {
    margin-bottom: 6rem;
  }

  h1 {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 8rem;
    line-height: 100%;
    color: $black;

    @include breakpoint($lg-bp) {
      font-size: 6rem;
    }
    @include breakpoint($sm-bp) {
      font-size: 3.8rem;
    }
  }
}
