.price-modal {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;

  display: none;
  flex-direction: column;
  align-items: flex-end;

  width: 100%;
  height: 100vh;

  background: rgba(76, 59, 60, 0.4);

  &.active {
    display: flex;
  }
}
.price-modal__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 11;

  width: 3.2rem;
  height: 3.2rem;

  stroke: #beb0b0;

  cursor: pointer;

  &:hover {
    stroke: $black;
  }
}
.price-modal__inner {
  position: absolute;
  bottom: 0;
  right: 8rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  width: 50rem;

  padding: 6rem;

  background: #ffffff;
  box-shadow: 0px 1rem 1.5rem rgba(76, 59, 60, 0.15);
  border-radius: 2rem 2rem 0px 0px;

  @include breakpoint($sm-bp) {
    width: 100%;
    right: 0;

    padding: 2rem;
  }

  .custom-input {
    height: 5rem;
  }
}
.price-modal__title {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 120%;
  text-align: center;
  color: $black;

  @include breakpoint($sm-bp) {
    font-size: 2.4rem;
  }
}

.price-modal__dropdown {
  height: 5rem;
  padding: 1.3rem 1.6rem;
  border: 0.1rem solid #beb0b0;
  border-radius: 1rem;

  .dropdown-link {
    display: flex;
    justify-content: space-between;

    width: 100%;

    color: #beb0b0;
  }

  .dropdown-list {
    flex-direction: column;

    right: 0;
    bottom: 120%;
  }

  .checkbox {
    padding: 0.6rem 1.8rem;
  }
}

.order-form__sbm-btn {
  width: 100%;
}
