.products-main {
  position: relative;

  &.rolled {
    .products-main__inner {
      max-height: 300rem;

      @include breakpoint($lg-bp) {
        max-height: 600rem;
      }
    }
  }

  .anim-fruit__wrapper {
    position: absolute;
    top: 1%;
    left: 51%;
    width: 17rem;

    .anim-fruit {
      transform: rotate(210deg);
      filter: drop-shadow(0px 1rem 1.5rem rgba(76, 59, 60, 0.15));
    }
  }
}
.products-main__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;

  overflow: hidden;
  max-height: 82rem;

  transition: all 0.7s ease-out;

  @include breakpoint($xl-bp) {
    gap: 2.7rem;
  }
  @include breakpoint($sm-bp) {
    max-height: 165rem;
  }
}
.pm-cat {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 39rem;

  padding: 4rem;

  border-radius: 2rem;

  cursor: pointer;

  @include breakpoint($sm-bp) {
    justify-content: flex-start;

    min-height: 26rem;

    padding: 2rem;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;

    width: 100%;
    height: 100%;

    border-radius: 2rem;

    background: rgba(76, 59, 60, 0.6);

    opacity: 0;
    transition: all 0.1s linear;
  }

  img {
    width: 100%;
    max-width: 27.4rem;

    @include breakpoint($sm-bp) {
      order: 2;

      max-width: 19rem;
    }
  }

  &:nth-child(3n + 1) {
    width: 101rem;
  }

  &:nth-child(1) {
    @include breakpoint($xl-bp) {
      width: 100%;
    }

    .pm-cat__tags {
      max-width: 49rem;
    }
    img {
      max-width: 31.9rem;

      @include breakpoint($sm-bp) {
        max-width: 19rem;
      }
    }
  }
  &:nth-child(2) {
    width: 71rem;

    @include breakpoint($xl-bp) {
      width: 49%;
    }

    @include breakpoint($lg-bp) {
      width: 100%;
    }

    .pm-cat__tags {
      max-width: 24rem;
    }
    img {
      max-width: 27.7rem;

      @include breakpoint($sm-bp) {
        max-width: 19rem;
      }
    }
  }
  &:nth-child(3) {
    width: 71rem;

    @include breakpoint($xl-bp) {
      width: 49%;
    }

    @include breakpoint($lg-bp) {
      width: 100%;
    }

    .pm-cat__tags {
      max-width: 31rem;
    }

    img {
      transform: scale(1.15);
    }
  }
  &:nth-child(4) {
    @include breakpoint($xl-bp) {
      width: 100%;
    }

    .pm-cat__tags {
      max-width: 50rem;
    }
    img {
      width: 100%;
      max-width: 32.1rem;

      @include breakpoint($sm-bp) {
        max-width: 19rem;
      }
    }
  }
  &:nth-child(5) {
    width: 86rem;

    padding-right: 2rem;

    @include breakpoint($xl-bp) {
      width: 49%;
    }

    @include breakpoint($lg-bp) {
      width: 100%;
    }

    .pm-cat__tags {
      max-width: 39rem;
    }
  }
  &:nth-child(6) {
    width: 86rem;

    padding-right: 2rem;

    @include breakpoint($xl-bp) {
      width: 49%;
    }

    @include breakpoint($lg-bp) {
      width: 100%;
    }

    img {
      margin-left: -4rem;

      @include breakpoint($sm-bp) {
        max-width: 19rem;
      }
    }

    .pm-cat__tags {
      max-width: 57rem;
    }
  }
  &:nth-child(7) {
    @include breakpoint($xl-bp) {
      width: 53%;
    }

    @include breakpoint($lg-bp) {
      width: 100%;
    }

    padding-right: 2rem;

    .pm-cat__tags {
      max-width: 51rem;
    }

    img {
      transform: scale(1.15);
    }
  }
  &:nth-child(8) {
    width: 71rem;

    padding-right: 2rem;

    @include breakpoint($xl-bp) {
      width: 45%;
    }

    @include breakpoint($lg-bp) {
      width: 100%;
    }

    .pm-cat__tags {
      max-width: 37.5rem;
    }
  }
}
.pm-cat__title {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 120%;
  margin-bottom: 2rem;

  @include breakpoint($sm-bp) {
    font-size: 1.8rem;
  }
}

.pm-cat__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include breakpoint($sm-bp) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
}

.pm-cat__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  width: 100%;

  @include breakpoint($sm-bp) {
    align-self: flex-start;
    gap: 1rem;
  }
}

.pm-cat__tags-item {
  font-size: 1.6rem;
  line-height: 1.5;

  padding: 0.6rem 1.2rem;

  border: 0.1rem solid #4c3b3c;
  border-radius: 1rem;

  @include breakpoint($sm-bp) {
    font-size: 1.4rem;
  }
}

.products-main__show-all {
  display: block;
  margin: 8rem auto 0;

  @include breakpoint($lg-bp) {
    margin: 5rem auto 0;
  }

  @include breakpoint($sm-bp) {
    width: 100%;
    max-width: 100%;

    margin: 3rem auto 0;
  }
}
