.section {
  margin: 22rem 0;

  @include breakpoint($lg-bp) {
    margin: 10rem 0;
  }
}

.section-title {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 100%;
  color: $black;

  margin-bottom: 6rem;

  @include breakpoint($sm-bp) {
    font-size: 3rem;

    margin-bottom: 3rem;
  }
}
