<div class="contacts-popup modal hide">
    <div class="contacts-popup__inner">
        <svg class="contacts-popup__close" data-close>
            <use href="#cross"></use>
        </svg>
        <form class="order-form">
            <p class="order-form__title">Напишите нам!</p>
            <input class="custom-input" type="text" placeholder="Имя">
            <input class="custom-input" type="tel" placeholder="Телефон">
            <input class="custom-input" type="email" placeholder="E-mail">
            <label class="checkbox">
                <input class="custom-checkbox" type="checkbox" checked>
                <span class="checkbox-square"></span>
                <span class="checkbox-descr">Согласен на обработку данных</span>
            </label>
            <button class="order-form__sbm-btn filled-btn">Отправить</button>
        </form>
    </div>
</div>

<div class="thx-popup modal hide">
    <div class="thx-popup__inner">
        <svg class="thx-popup__close" data-close>
            <use href="#cross"></use>
        </svg>
        <p class="thx-popup__title">Спасибо!</p>
        <p class="thx-popup__descr">Наш менеджер скоро свяжется с вами.</p>
    </div>
</div>