<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__inner">
                <div class="footer__header">
                    <div class="footer__logo">
                        <img class="footer__logo-img" src="assets/images/logo-column.svg" alt="">
                        <p class="footer__logo-descr">Кондитерская фабрика</p>
                    </div>
                    <a class="hollow-btn" href="#">где купить?</a>
                </div>

                <nav class="footer-nav">
                    <div class="footer-nav__column">
                        <h3 class="footer-nav__column-title">Наша продукция</h3>
                        <div class="footer-nav__column-links">
                            <a href="#">Новинки</a>
                            <a href="#">Батончики</a>
                            <a href="#">Конфеты</a>
                            <a href="#">Сувенирная продукция</a>
                            <a href="#">Драже</a>
                            <a href="#">Сухофрукты</a>
                            <a href="#">Конфеты в пакетах</a>
                            <a href="#">Орехи</a>
                            <a href="#">Конфеты в коробках</a>
                            <a href="#">Цукаты</a>
                            <a href="#">Конфеты в тубах</a>
                            <a href="#">В подарок</a>
                        </div>
                    </div>
                    <div class="footer-nav__column">
                        <h3 class="footer-nav__column-title">Меню</h3>
                        <div class="footer-nav__column-links">
                            <a href="#">О компании</a>
                            <a href="#">Сотрудничество</a>
                            <a href="#">Контакты</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</footer>