<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__inner">
                <div class="footer__header">
                    <div class="footer__logo">
                        <picture>
                            <source srcset="assets/images/logo-mob.svg" media="(max-width: 500px)">
                            <img class="footer__logo-img" src="assets/images/logo-column.svg" alt="">
                        </picture>
                        <p class="footer__logo-descr">Кондитерская фабрика</p>
                    </div>
                    <a class="footer-buy hollow-btn white" href="#">где купить?</a>
                </div>

                <nav class="footer-nav">
                    <div class="footer-nav__column">
                        <h3 class="footer-nav__column-title">Наша продукция</h3>
                        <div class="footer-nav__column-links">
                            <span><a href="#">Новинки <p class="flag-new">NEW</p></a> </span>
                            <span><a href="#">Батончики</a></span>
                            <span><a href="#">Конфеты</a></span>
                            <span><a href="#">Сувенирная продукция</a></span>
                            <span><a href="#">Драже</a></span>
                            <span><a href="#">Сухофрукты</a></span>
                            <span><a href="#">Конфеты в пакетах</a></span>
                            <span><a href="#">Орехи</a></span>
                            <span><a href="#">Конфеты в коробках</a></span>
                            <span><a href="#">Цукаты</a></span>
                            <span><a href="#">Конфеты в тубах</a></span>
                            <span><a href="#">В подарок</a></span>
                        </div>
                    </div>
                    <div class="footer-nav__column">
                        <h3 class="footer-nav__column-title">Меню</h3>
                        <div class="footer-nav__column-links">
                            <span class="fl-mob"><a href="#">Наша продукция</a></span>
                            <span><a href="#">О компании</a></span>
                            <span><a href="#">Сотрудничество</a></span>
                            <span><a href="#">Контакты</a></span>
                        </div>
                    </div>

                    <div class="footer-nav__contacts">
                        <span><a class="footer-tel" href="tel:+74954191997">+7 (495) 419-19-97</a></span>
                        <span><a href="mailto:office@kremlina.ru">office@kremlina.ru</a></span>
                        <span>Москва, Бумажный проезд 14, с. 2, оф. 801</span>
                    </div>
                </nav>

                <div class="footer-bottom">
                    <div class="footer-social">
                        <a class="footer-social__link" href="#">
                            <svg>
                                <use href="#youtube"></use>
                            </svg>
                        </a>
                        <a class="footer-social__link" href="#">
                            <svg>
                                <use href="#vk"></use>
                            </svg>
                        </a>
                        <a class="footer-social__link" href="#">
                            <svg>
                                <use href="#ok"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="footer-bottom__copy">
                        <p>© 1999-2022 Кондитерская фабрика «КРЕМЛИНА»</p>
                        <p>Разработка сайта: <a href="#">Студия ЯР</a></p>
                    </div>

                    <div class="footer-catalog">
                        <a href="#">Скачать каталог</a>
                        <img class="footer-catalog__qr" src="assets/images/qr-code.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="footer-leaf anim-fruit" src="assets/images/leafs/leaf-1.png" alt=""> <!--Только на главной странице-->
</footer>