<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <img class="header__logo-img" src="assets/images/logo.svg" alt="">
                <p class="header__logo-descr">Кондитерская фабрика</p>
            </div>
            <div class="header-links">
                <a class="catalog-link" href="#">Скачать каталог</a>
                <div class="buy-online dropdown-container">
                    <p class="dropdown-link">
                        <span>Заказать в интернет-магазине</span>
                        <svg>
                            <use href="#chevron"></use>
                        </svg>
                    </p>
                    <div class="dropdown-list">
                        <a href="#">Заказать на Wildberries</a>
                        <a href="#">Заказать на Ozon</a>
                    </div>
                </div>
                <a class="header__link" href="tel:+74954191997">+7 (495) 419-19-97</a>
            </div>
            <a class="header__link" href="mailto:office@kremlina.ru">office@kremlina.ru</a>
            <div class="header__lang dropdown-container">
                <p class="dropdown-link">
                    Ru
                    <svg>
                        <use href="#chevron"></use>
                    </svg>
                </p>
                <div class="dropdown-list">
                    <a href="#">En</a>
                    <a href="#">Ch</a>
                </div>
            </div>
            <div class="burger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="menu">
                <p class="menu-title">Меню</p>
                <div class="menu__inner">
                    <div class="menu-candies">
                        <div class="menu-cat__wrapper">
                            <div class="menu-cat">
                                <a class="menu-cat__title" href="#">Конфеты</a>
                                <div class="menu-cat__links">
                                    <a class="menu-cat__link" href="#">Из сухофруктов</a>
                                    <a class="menu-cat__link" href="#">Из орехов и сухофруктов</a>
                                    <a class="menu-cat__link" href="#">Из цукатов</a>
                                    <a class="menu-cat__link" href="#">«КЭЖУАЛ» из финика</a>
                                    <a class="menu-cat__link" href="#">«КРЕМЛИНКА» с начинкой</a>
                                </div>
                            </div>
                            <div class="menu-cat">
                                <a class="menu-cat__title" href="#">Драже</a>
                                <div class="menu-cat__links">
                                    <a class="menu-cat__link" href="#">Из орехов и вишни в шоколаде</a>
                                    <a class="menu-cat__link" href="#">«Котики – Маркотики»</a>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cat__wrapper">
                            <div class="menu-candies__links">
                                <a class="menu-candies__link" href="#">Конфеты в пакетах</a>
                                <a class="menu-candies__link" href="#">Конфеты в коробках</a>
                                <a class="menu-candies__link" href="#">Конфеты в тубах</a>
                                <a class="menu-candies__link" href="#">Батончики</a>
                                <a class="menu-candies__link" href="#">Сувенирная продукция</a>
                                <a class="menu-candies__link" href="#">Сухофрукты</a>
                                <a class="menu-candies__link" href="#">орехи</a>
                                <a class="menu-candies__link" href="#">цукаты</a>
                            </div>
                        </div>
                        <div class="menu-cat__wrapper menu-cat__wrapper--center">
                            <a class="menu-candies__link flag-item" href="#">
                                НОВИНКИ
                                <span class="flag-new">NEW</span>
                            </a>
                        </div>
                        <div class="menu-cat__wrapper">
                            <div class="menu-cat">
                                <a class="menu-cat__title" href="#">В подарок</a>
                                <div class="menu-cat__links">
                                    <a class="menu-cat__link" href="#">к Новому году
                                    </a>
                                    <a class="menu-cat__link" href="#">на 23 февраля</a>
                                    <a class="menu-cat__link" href="#">на 8 марта</a>
                                    <a class="menu-cat__link" href="#">на День Рождения</a>
                                    <a class="menu-cat__link" href="#">на праздник</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-about">
                        <div class="menu-cat">
                            <a class="menu-cat__title" href="#">О КОМПАНИИ</a>
                            <div class="menu-cat__links">
                                <a class="menu-cat__link" href="#">История компании</a>
                                <a class="menu-cat__link" href="#">Наши преимущества</a>
                                <a class="menu-cat__link" href="#">Благодарственные письма и награды</a>
                            </div>
                        </div>
                        <div class="menu-cat">
                            <a class="menu-cat__title" href="#">СОТРУДНИЧЕСТВО</a>
                            <div class="menu-cat__links">
                                <a class="menu-cat__link" href="#">Заказчикам</a>
                                <a class="menu-cat__link" href="#">Поставщикам</a>
                                <a class="menu-cat__link" href="#">Получить оптовый прайс</a>
                                <a class="menu-cat__link" href="#">Где купить?</a>
                            </div>
                        </div>
                        <div class="menu-cat">
                            <a class="menu-cat__title" href="#">КОНТАКТЫ</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>