<div class="price-modal">
    <div class="price-modal__inner">
        <svg class="price-modal__close">
            <use href="#cross"></use>
        </svg>
        <p class="price-modal__title">Хочу Получить прайс</p>
        <input class="custom-input" type="text" placeholder="Название компании">
        <input class="custom-input" type="email" placeholder="E-mail">
        <input class="custom-input" type="tel" placeholder="Телефон">
        <div class="price-modal__dropdown dropdown-container">
            <p class="dropdown-link">
                <span>Выберите из списка</span>
                <svg>
                    <use href="#chevron"></use>
                </svg>
            </p>
            <div class="dropdown-list">
                <label class="checkbox">
                    <input class="custom-checkbox" type="checkbox" checked>
                    <span class="checkbox-square"></span>
                    <span class="checkbox-descr">Весь ассортимент</span>
                </label>
                <label class="checkbox">
                    <input class="custom-checkbox" type="checkbox">
                    <span class="checkbox-square"></span>
                    <span class="checkbox-descr">Новинки</span>
                </label>
                <label class="checkbox">
                    <input class="custom-checkbox" type="checkbox" checked>
                    <span class="checkbox-square"></span>
                    <span class="checkbox-descr">Конфеты</span>
                </label>
                <label class="checkbox">
                    <input class="custom-checkbox" type="checkbox">
                    <span class="checkbox-square"></span>
                    <span class="checkbox-descr">Драже</span>
                </label>
                <label class="checkbox">
                    <input class="custom-checkbox" type="checkbox">
                    <span class="checkbox-square"></span>
                    <span class="checkbox-descr">Конфеты в пакетах</span>
                </label>
                <label class="checkbox">
                    <input class="custom-checkbox" type="checkbox">
                    <span class="checkbox-square"></span>
                    <span class="checkbox-descr">Конфеты в коробках</span>
                </label>
                <label class="checkbox">
                    <input class="custom-checkbox" type="checkbox">
                    <span class="checkbox-square"></span>
                    <span class="checkbox-descr">Конфеты в тубах</span>
                </label>
                <label class="checkbox">
                    <input class="custom-checkbox" type="checkbox">
                    <span class="checkbox-square"></span>
                    <span class="checkbox-descr">Батончики</span>
                </label>
                <label class="checkbox">
                    <input class="custom-checkbox" type="checkbox">
                    <span class="checkbox-square"></span>
                    <span class="checkbox-descr">Сувенирная продукция</span>
                </label>
                <label class="checkbox">
                    <input class="custom-checkbox" type="checkbox">
                    <span class="checkbox-square"></span>
                    <span class="checkbox-descr">Сухофрукты</span>
                </label>
                <label class="checkbox">
                    <input class="custom-checkbox" type="checkbox">
                    <span class="checkbox-square"></span>
                    <span class="checkbox-descr">Орехи</span>
                </label>
                <label class="checkbox">
                    <input class="custom-checkbox" type="checkbox">
                    <span class="checkbox-square"></span>
                    <span class="checkbox-descr">Цукаты</span>
                </label>
                <label class="checkbox">
                    <input class="custom-checkbox" type="checkbox">
                    <span class="checkbox-square"></span>
                    <span class="checkbox-descr">В подарок</span>
                </label>
            </div>
        </div>
        <label class="checkbox">
            <input class="custom-checkbox" type="checkbox" checked>
            <span class="checkbox-square"></span>
            <span class="checkbox-descr">Согласен на обработку данных</span>
        </label>
        <button class="order-form__sbm-btn filled-btn">Получить прайс</button>
    </div>
</div>